annotations/
data/
deepshap_out/
figures/
genomes/
model_out/
models/
configs/
modisco_out/
old_modisco_out/
motif_calls_out/
motifs_out/
GENCODE/
__pycache__/
*/__pycache__/
*/*/__pycache__/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
__init__*
*/*__init__*
*/*/*__init__*
*/logs/
*/*log*
*/*/*log*
*old*
*/*old*
*/*/*old*
tars/
collabs_and_misc/
!collabs_and_misc/*/*ipynb
!collabs_and_misc/*/*py
defense_figures/
figures_revisions/
src/figure_notebooks/fig6_data/
src/figure_notebooks/fig7_data/
src/figure_notebooks/fig_cell_types_union_preds/
src/figure_notebooks/te_enrichment_files/
src/2_train_models/other_model_archs/
src/3_eval_models/random_notebooks/
src/3_eval_models/plots/
src/4_interpret_models/debugging/
src/GENCODE/
!src/GENCODE/*ipynb
!src/GENCODE/*py
src/predict_genomewide/bigwigs
src/predict_genomewide/hg38/
src/predict_genomewide/raw_preds
src/predict_genomewide/t2t
src/predict_genomewide/tmp_beds/
src/GENCODE_protein_coding/*
!src/GENCODE_protein_coding/*ipynb
!src/GENCODE_protein_coding/*py
